@using ECommerceLiteUI.Models
@model List<ProductViewModel>


<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Sepetim</span>
        <div class="qty">@Model.Sum(x => x.Quantity).ToString()</div>
    </a>
    <div class="cart-dropdown">
        <div class="cart-list">
            @foreach (var item in Model)
            {
            <div class="product-widget">

                <div class="product-img">
                    @if (item.PicturesOfProduct.Count > 0)
                    {
                        <img src="
                     @item.PicturesOfProduct.FirstOrDefault().Picture"
                             alt="@item.ProductName"
                             width="50" height="60">
                    }
                    else
                    {
                        <img src="~/ElectroTheme/img/noimage.png" alt="noimage">
                    }

                </div>


                <div class="product-body">
                    <h3 class="product-name"><a href="#">@item.ProductName</a></h3>

                    @if (item.Discount > 0)
                    {

                        <h4 class="product-price"><span class="qty">@item.Quantity x </span>@item.SalePrice ₺</h4>

                    }
                    else
                    {

                        <h4 class="product-price"><span class="qty">@item.Quantity x </span>@item.Price ₺</h4>
                    }
                </div>
                <button class="delete"><i class="fa fa-close"></i></button>
            </div>
            }


        </div>

        @{
            decimal total =
                Model.Sum(x => x.SalePrice) == 0 ? 0 :
                Model.Sum(x => (x.Quantity * x.SalePrice));
        }



        <div class="cart-summary">
            <small>@Model.Sum(x => x.Quantity).ToString() adet ürün vardır.</small>
            <h5>TOPLAM: @total ₺ </h5>
        </div>

        <div class="cart-btns">
            <a href="/Home/Cart">Sepete Git</a>
            <a href="/Home/Buy">
                Tamamla<i style="margin-left:5px"
                          class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

