@using ECommerceLiteEntity.Models
@model List<Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sistemdeki Ürünler</h2>
<br />
@if (TempData["EditSuccess"] != null)
{
    <div class="callout callout-success">
        @TempData["EditSuccess"]
    </div>
}

@if (TempData["EditFailed"] != null)
{
    <div class="callout callout-danger">
        @TempData["EditFailed"]
    </div>
}

<div class="col-12">
    @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
    {
        <p>
            <b>Ürün Adı:</b> @Html.TextBox("search")
            <input type="submit" value="Ara" class="btn btn-info btn-sm"
                   style="margin-left:10px" />
        </p>
    }


</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="/Product/Create"
               class="btn btn-info"
               style="margin-left:5px;">
                Yeni Ürün Ekle
            </a>
        </div>
        <div class="card-body">
            @*table nesnesi ile ürünlerimizi sergileyeceğiz.*@
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Ürün Açıklaması</th>
                        <th>Kategorisi</th>
                        <th>Kayıt Tarihi</th>
                        <th>Fiyat</th>
                        <th>İndirim(%)</th>
                        <th>Stok</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-info"
                                        onclick="ProductBtnClicked(@item.Id)"
                                        data-toggle="modal"
                                        data-target="#myModal">
                                    @item.ProductName
                                </button>
                            </td>
                            <td>@item.Description</td>
                            <td>@item.Category.CategoryName</td>
                            <td>@item.RegisterDate</td>
                            <td>@item.Price</td>
                            <td>@item.Discount</td>
                            <td>@item.Quantity</td>
                            <td>
                                @*buraya sil düzenle ürünün resmine git gibi buttonlar gelir*@
                                <a href="/Product/Delete" class="btn btn-sm btn-danger"
                                   style="margin-left:5px">
                                    Sil
                                </a>

                                <a href="/Product/ProductPictures"
                                   class="btn btn-sm btn-primary"
                                   style="margin-left:5px">
                                    Resimler
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <div class="row">
                <div class="text-center col-4 offset-4">
                    <ul class="pagination">
                        <li>
                            <a id="pageprevious" href="@Url.Action("ProductList","Product",
                                    new {page=ViewBag.CurrentPage-1 })"
                               onclick="deneme()">&laquo;</a>


                        </li>


                        @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
                        {
                            <li>
                                <a href="@Url.Action("ProductList","Product",
                                        new {page= i })">
                                    @i
                                </a>
                            </li>
                        }

                        <li>
                            <a id="pagenext" href="@Url.Action("ProductList","Product",
                                    new {page=ViewBag.CurrentPage+1 })">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>
@*modal pop up ın güzel hali, bootstrapli hali.*@

<!--Modal Başlangıcı -->
<div class="modal fade col-md-12" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!--Modal Content Başlangıcı -->

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Ürün Detay</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" id="form-modal">
                @using (Html.BeginForm("Edit", "Product", FormMethod.Post,
                    new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" name="Id" id="ProductId" />
                        <div class="form-group">
                            @Html.Label("Ürün Adı:")
                            <input id="ProductName" name="ProductName" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Ürün Açıklaması:")
                            <input id="Description" name="Description" class="form-control" />
                        </div>

                        <div class="form-group">
                            <span class="text-danger" style="font-weight:bold;margin-right:3px;">
                                *
                            </span>
                            <label for="Category" style="font-weight:bold;">Kategori</label>
                            <select id="CategorySelect" name="CategoryId" class="form-control">
                                @foreach (var item in ViewBag.SubCategories)
                                {
                                    <option value="@item.Id">@item.CategoryName</option>
                                }
                            </select>
                        </div>


                        <div class="form-group">
                            @Html.Label("Ürün Kodu:")
                            <input id="ProductCode" name="ProductCode" class="form-control" />
                        </div>


                        <div class="form-group">
                            @Html.Label("Stok:")
                            <input id="Quantity" name="Quantity" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Fiyat:")
                            <input id="Price" name="Price" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("İndirim(%):")
                            <input id="Discount" name="Discount" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="button" value="KAPAT" class="btn btn-danger"
                                   data-dismiss="modal" style="float:left" />
                            <input type="submit" value="GÜNCELLE" class="btn btn-info"
                                   style="float:right" />

                        </div>

                    </div>
                }


            </div>
        </div>

        <!--Modal Content Bitiş -->
    </div>
</div>

<!--Modal Bitişi -->


@section scripts{
    <script>
        function ProductBtnClicked(id) {
            console.log(id);
            //AJAX öğreneceğiz
            $.ajax({
                type: "GET",
                url: '/Product/GetProductDetails/' + id,
                success: function (res) {
                    console.log(res);
                    if (res.isSuccess) {
                        //Gelen datayı yukarıdaki popup içidenki inputlara yerleştireceğiz
                        document.getElementById("ProductName").value = res.data.ProductName;
                        //$('#ProductName').val(res.data.ProductName);
                        $('#Description').val(res.data.Description);
                        $('#ProductCode').val(res.data.ProductCode);
                        $('#Price').val(res.data.Price);
                        $('#Quantity').val(res.data.Quantity);
                        $('#Discount').val(res.data.Discount);
                        $('#ProductId').val(res.data.Id);
                        $('#CategorySelect').val(res.data.CategoryId)
                    }
                    else {
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function deneme() {
            alert("geldi");
            if (@ViewBag.Page <1) {
                $('#pageprevious').attr("disabled", true);
            }
            else {
                $('#pageprevious').attr("disabled", false);
            }
            if (@ViewBag.Page > ViewBag.TotalPages) {
                $('#pagenext').attr("disabled", false);
            }
            else {
                $('#pagenext').attr("disabled", true);
            }
        }
    </script>
}
© 2022 GitHub, Inc.


